#bg-img{
  background-image: url("https://lh3.googleusercontent.com/h-AgBCtTlGI4bLd5EgR3O4bS4yBuhx9ZZ0wbC-PVEp-m9ai4Cg_vgN8sELcuR94GhFmTwWNMO-4GadLxdC0IMnujLDrd7qf-WDgQWCv4HgScEif-d-pjscCk7nLfPk_ztB1zOaU2fl9-M6CAq9qo-V3RxK_qKc666ql9QuMFgNS7FomcAsc1UwW1ZC_sQ3sui4uwLQkKXIPdkT--ZNI_2OxpZwrfH4cLRm7UlRnzDV6kDro_ov79_jiDy22jilxLqeGbdRfyBcyYzefTNrmXDyo3jQ0GgNwJC5tCDbM8OBkiLpTttmxeOOrnlogptafWs04iVtSrvy7pli-CdND43Tpe6Mp7bALyag8uQqfo0G7RS223gNGPd6dsHzz_Rs5Tp5jjKeGC-3i-pWQh-qD5T2cMwRKziP27DRdB88R01acqMQqRHAc0oUHHJZlz7hbBmp7szcrNq8Mw4OQuzsyjfH8ceOpF1GBe62cMcKonprjUpbx1repgIMFORP5rKZ2nDEQD3VCh0b-WnB2_AUka383UvjKEmhDJCVNrV5q-1Otncl4zMbmIWQNrEil4Ha0weJNh4BhKmDeFwacr6suyl1n5JT8o7okoL2QlzJU=w2374-h1582-no");
  background-size: cover;
  width: 100%;
  height: 800px;
  background-position: center;
}
#header{
}
.btn-color{
  color: #9b9b9b;
}
.btn-home{
  font-size: 25px;
  font-weight: bold;
  color: #2f7250;
}
#navbar{
  width: 1800px;
  height: 100px;
}
.quote01{
  color: #9b9b9b;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.d-inline-block {
  display: inline-block;
}

.m-5 {
  margin: 5%
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.h-400px {
  height: 400px;
}

.w-100px {
  width: 100px;
}

.h-300px {
  height: 300px;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.text-center {
  text-align: center;
}

.font-size-40px {
  font-size: 40px;
}

.text-green {
  color:green;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}


.h-50px {
  height: 50px;
}

.font-size-30px {
  font-size: 30px;
}

.h-100px {
  height: 100px;
}

.bg-gray {
  background-color: gray;
}

.image {
       max-width: 100%;
       display: flex;
}
