<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Admin Page</h1>
    <p> <a href="{{ url_for('create') }}">Add services</a> </p>
    <table border = '1px'>
      <thead>
        <th>STT</th>
        <th>Name</th>
        <th>Yob</th>
        <th>Gender</th>
        <th>Height</th>
        <th>PhoneNumber</th>'
        <th>Address</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
        {% for service in services %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.yob }}</td>
            <td>{{ 'Male' if service.gender == 1 else 'Female' }}</td>
            <td>{{ service.height }}</td>
            <td>{{ service.phone }}</td>
            <td>{{ service.address }}</td>
            <td>  {{ 'Free' if service.status else 'Busy' }}</td>
            <td>
              <a href="{{ url_for('update', service_id=service.id) }}">Update</a>
              <a href="{{ url_for('delete', service_id=service.id) }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </body>
</html>
