<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thư viện các nhiệm vụ đã hoàn thành</title>
    <link rel="stylesheet" href="./static/css/library.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="bg-img"class="">
      <div id="header" class="d-flex">
        <button type="button" class="btn btn-link justify-content-end pl-5"><p class="btn-home"><a class="text-green" href="{{url_for("index")}}">Trở về trang chủ</a></p></button>
        <div id="navbar" class="d-flex justify-content-end">
          <button type="button" class="btn btn-link d-flex justify-content-end"><p class="btn-color"><a class='text-green' href="{{url_for("logout")}}">Đăng xuất</a></p></button>
        </div>
      </div>
      <div class="h-75 w-50 ml-5 pl-5 mt-3">
     <p class="quote01 mb-3"><span class="btn-home">Earth Hero Album</span> nơi những người hùng chia sẻ những câu chuyện nhỏ của họ. </p>
      </div>
    </div>

    {% for album in all_albums %}
      {{album.user.username}}
      {% for item in album.user_missions %}
        <p>{{item.mission.mission_name}}</p>
        <br>
        <img src="data:image/jpg;base64,{{item.image}}" alt="not found" width="50%" height="30%">
        <br>
        <p>{{item.caption}}</p>
      {% endfor%}
    {% endfor %}
  </body>
</html>
