<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thông báo</title>
  </head>
  <body>
    {% if message == "email exist"%}
    <p>Email đã được sử dụng</p>
    <a href="{{url_for("sign_up")}}">Đăng ký email khác</a>

    {% elif message == "username exist"%}
    <p>Username đã được sử dụng</p>
    <a href="{{url_for("sign_up")}}">Đăng ký username khác</a>

    {% elif message == "error login"%}
    <p>Username hoặc password sai</p>
    <a href="{{url_for("login")}}">Đăng nhập lại</a>
    <a href="{{url_for("sign_up")}}">Đăng ký nếu bạn chưa có tài khoản</a>

    {% elif message == "uploaded"%}
    <p>Nhiệm vụ đã hoàn thành</p>
    <a href="{{url_for("user_profile")}}">Trở về trang cá nhân để nhận nhiệm vụ mới</a>

    {% elif message == "file not allowed"%}
    <p>Định dạng ảnh không phù hợp</p>
    <a href="{{url_for("finish")}}">Sử dụng ảnh khác</a>

    {% elif message == "continue challenge"%}
    <p>Nhiệm vụ mới đã được giao</p>
    <a href="{{url_for("user_profile")}}">Trở về trang cá nhân để nhận nhiệm vụ mới</a>

    {% elif message == "processed"%}
    <p>Đã xử lý xong album</p>
    <a href="{{url_for("user_profile")}}">Trở về trang cá nhân </a>


    {% endif%}

  </body>
</html>
