<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add new services</h1>
    <form method = 'post'>

      <label>Name</label>
      <input type="text" name="name" value="">
      <hr>
      <label>Yob</label>
      <input type="number" name="yob" value="">
      <hr>
      <label>Gender</label><br>
      <input type="radio" name="gender" value="1">Male<br>
      <input type="radio" name="gender" value="0">Female
      <hr>
      <label>Height</label>
      <input type="text" name="height" value="">
      <hr>
      <label>PhoneNumber</label>
      <input type="text" name="phone" value="">
      <hr>
      <label>Address</label>
      <input type="text" name="address" value="">
      <hr>
      <label>Status</label>
      <input type="radio" name="status" value="True">Male<br>
      <input type="radio" name="status" value="False">Female
      <hr>
      <label>Description</label>
      <input type="text" name="description" value="">
      <hr>
      <label>Measurement</label>
      <input type="text" name="measurement" value="">
      <hr>
      <input type="submit">
    </form>
  </body>
</html>
