<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./static/css/personal.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>



  </head>
<!-- hết phần head -->
<body>
  
<div id="bg-img"class="">
  <div id="header" class="d-flex">
    <button type="button" class="btn btn-link justify-content-end pl-5"><p class="btn-home">Earth Hero</p></button>

    <div id="navbar" class="d-flex justify-content-end">
      <button type="button" class="btn btn-link d-flex justify-content-end"><p class="btn-color">Log out</p></button>
    </div>
  </div>
  <div class="h-75 w-50 ml-5 pl-5 mt-3">
 <p class="quote01 mb-3"><span class="btn-home">Trái Đất này cần chúng ta</span> Mỗi chúng ta là một người anh hùng của Trái Đất </p>
  </div>
</div>

<div class="container text-center font-size-40px text-green mt-5">Những chiến tích của bạn</div>

<div class="container d-flex justify-content-around flex-wrap mt-5 ">
  <div class="w-40 h-400px text-center font-size-30px mt-5 "><img src="./static/image/female-profile.jpg" height='400' alt=""></div>
  <div class="d-flex w-40 h-400px text-center font-size-30px mt-5 justify-content-center align-items-center"><div class=""><p>Đi xe đạp nà</p></div></div>
  <div class="d-flex w-40 h-400px text-center font-size-30px mt-5 justify-content-center align-items-center"><div class=""><p>Đi xe đạp nà</p></div></div>
  <div class="w-40 h-400px text-center font-size-30px mt-5"><img src="./static/image/female-profile.jpg" height='400' alt=""></div>
  <div class="w-40 h-400px text-center font-size-30px mt-5"><img src="./static/image/female-profile.jpg" height='400' alt=""></div>
  <div class="d-flex w-40 h-400px text-center font-size-30px mt-5 justify-content-center align-items-center"><div class=""><p>Đi xe đạp nà</p></div></div>
</div>

<div class="container d-flex justify-content-center align-items-center mt-5 ">
  <div class=" w-20 font-size-30px bg-gray text-center">Nhiệm vụ</div>
</div>
  </body>
</html>
