<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service Page</title>
  </head>
  <body>
    <h1>Change information</h1>
    <form action="{{url_for('update',service_id = service.id)}}" method="post">
      <label>name</label>
      <input type = "text" name ="name" value="{{service.name}}">
      <hr>
      <label>gender</label>
      <input type="number" name="" value="">
      <hr>
      <label>yob</label>
      <input type = "text" name ="yob" value="{{service.yob}}">
      <hr>
      <label>address</label>
      <input type = "text" name ="address" value="{{service.address}}">
      <hr>
      <label>height</label>
      <input type="text" name="height" value="{{service.height}}">
      <hr>
      <label>status</label>
      <input type="text" name="status" value="{{service.status}}">
      <hr>
      <label>Description</label>
      <input type="text" name="description" value="{{service.description}}">
      <hr>
      <label>Measurements</label>
      <input type="list" name="measurements" value="{{service.measurements}}">
      <hr>
      <input type = "submit">
    </form>
  </body>
</html>
